In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.
ASn=SELECT R(FIRST_NAME) FROM Worker;

In [ ]:
Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.
ANS=SELECT DISTINCT (DEPARTMENT),LENDEPARTMENT) FROM WORKER

In [ ]:
Q-3. Write an SQL query to fetch nth max salaries from a table.
ANS=SELECT E1. SALARY,COUNT(distinct E2.SALARY) FROM WORKER E1 JOIN WORKER E2 ON E1.SALARY <=  E2.SALARY group by  E1.SALARY HAVING COUNT(distinct E2.SALARY)=1