In [ ]:
#1Write an SQL query to fetch “FIRST_NAME” from Worker table using the aliasname as &lt;WORKER_NAME&gt;.
ANS=select first_name from worker_name as worker;

In [ ]:
#Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table
ANS=select DISTINCT departmen from worker;

In [ ]:
#Q-3. Write an SQL query to show the last 5 record from a table.
ANS=select * from worker order by 5 desc;